* {
    margin: 0;
    padding: 0;
    font-family: "TT_Norms_Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

/* ----------------------NAV-BAR-START------------------- */


#nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

/* -----------------NAV-BAR-TOP-START---------------- */

#nav-top {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
    background-color: #51e8d4;
    font-size: 14px;
    font-family: "TT_Norms_Pro", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", Roboto, Oxygen-Sans, "Fira Sans", "Droid Sans", Ubuntu, Cantarell, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

#nav-top>img {
    margin-left: 20px;
    margin-right: 20px;
    width: 1.3%;
}

.close {
    border: none;
    background-color: #51e8d4;
    margin-left: 20px;
    margin-right: 20px;
}

#nav-top a {
    color: black;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* -----------------NAV-BAR-BOTTOM-START---------------- */

.nav-bottom {
    height: auto;
    background-color: #181f38;
    color: white;
    margin: auto;
}

.nav-bottom>div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.nav-bottom img {
    margin-top: 2px;
    width: 65px;
}

#logoMain {
    text-decoration: none;
    border-radius: 0px;
    padding: 0px;
}

.nav-bottom>div>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: small;
}

.nav-left {
    width: 50%;
}

.nav-right {
    width: 40%;
}

.nav-left a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    padding: 8px;
}

.nav-bottom button {
    border: none;
    background-color: #181f38;
    color: white;
    font-size: larger;
    font-weight: 600;
    border-radius: 6px;
    padding: 8px;
}

#login {
    color: #06ca5f
}

#start {
    border: 2px solid #06ca5f;
    background-color: #06ca5f;
    color: white;
    padding: 8px 20px;
    border-radius: 6px;
}

#login:hover {
    background-color: #2b3857;
    cursor: pointer;
    transition: 0.5s;
}

#hover:hover {
    background-color: #2b3857;
    cursor: pointer;
}

.upArrow::after {
    content: "";
    width: 8px;
    height: 8px;
    display: inline-block;
    border: 1px solid #fff;
    border-width: 1px 1px 0 0;
    transition: transform 0.2s;
    transform: rotate(135deg);
    margin-left: 10px;
    margin-bottom: 5px;
}

.upArrow:hover::after {
    transform: rotate(-45deg);
    margin-bottom: 2px;
}

/* ----------------------NAV-BAR-END------------------- */

/* -------------------MAIN-START------------------ */

main {
    background-color: #ebf5f3;
}

/* -------------------firstSection-START------------------ */

.firstSection {
    background-color: #181f38;
    background-image: url(https://web-static.wrike.com/cdn-cgi/image/width=3840,format=auto,quality=80/tp/storage/uploads/a6689dc7-598d-42e0-9856-339b302c27d5/rebrand-hero-illustration-homepage-screenshots-dark-desktop-2x.png);
    background-size: cover;
    background-position: right;
    height: 460px;
    width: 100%;
    padding: 60px 0 100px;
    margin-top: 115px;
}

.firstSection>div {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.firstSection h1 {
    width: 600px;
    height: 216px;
    color: white;
    font-size: 55px;
}

.firstSection p {
    height: 64px;
    width: 600px;
    font-size: 20px;
    color: white;
    margin: 20px 0px;
}

.align {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.align input {
    height: 60px;
    width: 308px;
    border-radius: 8px;
    border: 2px solid #c4cdcb;
    padding: 0px 0px 0px 20px;
    font-size: 18px;
}

.align button {
    border: 2px solid #06ca5f;
    background-color: #06ca5f;
    color: white;
    padding: 14px 22px;
    border-radius: 8px;
    font-size: 20px;
    height: 60px;
    width: 200px;
    margin-left: 12px;
}

.align button:hover,
#start:hover,
.get>button:hover {
    cursor: pointer;
    background-color: #04ba71;
    transition: 0.5s;
}

.align input:hover {
    cursor: pointer;
    border: 2px solid #818888;
    transition: 0.5s;
}

.none {
    display: none;
}

.none>img {
    width: 100%;
}

#green {
    color: #06ca5f;
    font-size: 20px;
    font-weight: 600;
}

.svg1 {
    width: 20px;
    height: 20px;
}

#green:hover {
    cursor: pointer;
    color: #81f09b;
}

/* -------------------firstSection-END------------------ */

.secondSection {
    padding: 48px 0px;
    width: 80%;
    margin: auto;
}

#logoGrid {
    display: flex;
    justify-content: space-between;
}

.secondSection p {
    margin: 20px 0px 0px;
    height: 20px;
    width: 1224px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #657694;
    text-align: center;
}

/* -------------------secondSection-END------------------ */


.thirdSection>div:nth-child(1) {
    width: 1248px;
    height: 144px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 60px;
}

.thirdSection>div>p:nth-child(1) {
    width: 60%;
    height: 60px;
    font-size: 44px;
    color: #181f38;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 18px;
}

.thirdSection>div>p:nth-child(2),
.bottomP {
    height: 64px;
    font-size: 20px;
    color: #2b3857;
    line-height: 32px;
    font-weight: 400;
}

.grid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    width: 80%;
    margin-bottom: 60px;
}

.grid>div {
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    height: 528px;
    width: 248px;
    line-height: 32px;
    background-color: white;
}

.grid>div:hover {
    color: white;
    background-color: rgb(4, 69, 77);
    transition: 0.5s;
    cursor: pointer;
}

.grid>div>img {
    width: 90%;
    border-radius: 20px;
}

.grid>div>h2 {
    text-align: left;
    margin: 20px 12px;
    color: #181f38;
}

.grid>div>p {
    margin: 20px 12px;
    font-size: 18px;
    color: #2b3857;
    font-weight: 400;
    text-align: left;
}

.grid>div>h3,
.thirdSection>h3 {
    margin: 0px 12px 10px 12px;
    color: rgb(9, 86, 86);
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

.thirdSection>h3 {
    text-align: center;
}

.get {
    width: 80%;
    display: flex;
    margin: auto;
    padding: 100px 0px;
}

.get>button {
    border: 2px solid #06ca5f;
    background-color: #06ca5f;
    color: white;
    height: 72px;
    width: 220px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-weight: 600;
}

/* -------------------thirdSection-END------------------ */

.fourthSection {
    background-color: #181f38;
    padding: 50px 0px 5px 0px;
}

.flex {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    margin-bottom: 60px;
}

.one {
    text-align: left;
    width: 32%;
}

.one>h4 {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(189, 188, 188);
}

.one>h2 {
    color: white;
    margin: 20px 0px 18px;
    font-size: 32px;
    line-height: 44px;
}

.one>p {
    color: white;
    margin: 20px 0px 18px;
    font-size: 18px;
    height: 224px;
    line-height: 32px;
}

.one>h3 {
    color: #06ca5f;
    font-size: 20px;
    font-weight: 600;
}

.two {
    width: 60%;
}

.two>img {
    width: 100%;
}

.ss1 {
    width: 100.05%;
    margin-bottom: -5px;
}

.ss2 {
    width: 100%;
}

/* -------------------fourthSection-END------------------ */

.fifthSection {
    background-color: #0c3245;
    margin-top: -5px;
    padding: 60px 0px 100px;
}

.fifthSection>h1 {
    text-align: center;
    color: white;
    font-size: 44px;
    height: 60px;
    margin-bottom: 60px;
}

.mid {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    background-color: #0a615a;
    text-align: left;
}

.div1 {
    width: 35%;
}

.div1>img {
    width: 100%;
}

.div2 {
    color: white;
    width: 60%;
    padding: 50px;
}

.div2>h2 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 32px;
}

#p {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 60px;
}

/* -------------------fifthSection-END------------------ */

.sixthSection {
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-items: center;
    padding-bottom: 80px;
}

.sixthSection img {
    width: 100%;
}

#email {
    width: 60%;
    margin: auto;
    text-align: center;
}

.bottom-mid {
    margin-top: 80px;
}

.bottomH1 {
    font-size: 44px;
    color: #181f38;
    line-height: 60px;
    font-weight: 700;
    margin-bottom: 18px;
}

/* -------------------sixthSection-END------------------ */

/* -------------------MAIN-END------------------ */

/* -------------------FOOTER-START------------------ */

footer {
    background-color: #0c3245;
    text-align: left;
    color: #b0c2d3;
    font-size: 16px;
    line-height: 32px;
    padding: 60px 0px 20px;
}

footer h4 {
    color: white;
    font-size: 18px;
}

/* -------------------FOOTER-TOP-START------------------ */

.footerTop a {
    text-decoration: none;
    color: #b0c2d3;
}

.footerTop a:hover {
    cursor: pointer;
    color: #51e8d4;
    border-bottom-width: 1px;
    border-bottom-color: #51e8d4;
    border-bottom-style: solid;
    transition: 0.1s;
}

.footerTop {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}

#footerTop1 {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
}

#footerTop2 {
    width: 30%;
}

/* -------------------FOOTER-BOTTOM-START------------------ */

hr {
    width: 80%;
    margin: auto;
    height: 1px solid white;
    opacity: 0.1;
}

.footerBottom {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px 0px;
}

#footerImg {
    display: flex;
    margin-right: 20px;
}

#footerImg>img {
    width: 135px;
    height: 40px;
    margin-right: 20px;
}

#footerImg>img:hover {
    cursor: pointer;
}

#media {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 68px;
}

#media>i {
    padding: 12px;
}

#media>i:hover {
    cursor: pointer;
    color: #51e8d4;
}

#copyright {
    line-height: 28px;
}

.footerBottom a {
    text-decoration: none;
    color: white;
    border-bottom-width: 1px;
    border-bottom-color: #fff;
    border-bottom-style: solid;
}

.footerBottom a:hover {
    cursor: pointer;
    color: #b0c2d3;
    border-bottom-width: 0px;
    transition: 0.1s;
}

/* -------------------FOOTER-BOTTOM-END------------------ */


/* -------------------MEDIA QUERIES START------------------ */

@media screen and (max-width: 1080px) {

    #nav-top>img {
        width: 2%;
    }

    /* #nav-top {
        font-size: 13px;
    } */

    /* .nav-bottom a,
    .nav-bottom button {
        display: none;
    } */

    .firstSection {
        background: #181f38;
        height: auto;
        text-align: center;
    }

    .firstSection>div {
        flex-direction: column;
    }

    .firstSection h1 {
        font-size: 44px;
        width: auto;
    }

    .firstSection p {
        font-size: 20px;
        width: auto;
    }

    .none {
        display: block;
    }

    .align {
        justify-content: center;
    }

    /* -------------------firstSection-END------------------ */


    .secondSection {
        text-align: center;
    }

    #logoGrid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        justify-content: center;
    }

    #logoGrid>img {
        height: 45px;
    }

    .secondSection p {
        width: auto;
    }

    /* -------------------secondSection-END------------------ */
    .thirdSection {
        text-align: center;
    }

    .thirdSection>div:nth-child(1) {
        width: auto;
    }

    .thirdSection>div>p:nth-child(2),
    .bottomP {
        width: auto;
        margin-top: 50px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 60px;
        position: relative;
        top: 50px;
        z-index: 1;
        left: 2%;
    }

    .thirdSection>h3 {
        position: relative;
        top: 50px;
        z-index: 1;
    }


    /* -------------------thirdSection-END------------------*/

    .fourthSection {
        text-align: center;
    }

    .flex {
        flex-direction: column;
    }

    .one {
        text-align: left;
        width: auto;
    }

    .one>p {
        height: auto;
    }


    /* -------------------fourthSection-END------------------ */

    .fifthSection {
        text-align: center;
    }

    .mid {
        flex-direction: column;
        border-radius: 10px;

    }

    .div1>img {
        /* display: none; */
        border-radius: 10px;

    }

    .div2 {
        color: white;
        width: auto;
        padding: 50px;
    }

    /* -------------------fifthSection-END------------------ */

    .sixthSection {
        text-align: center;
    }

    .sixthSection {
        flex-direction: column;
    }

    .sixthSection img {
        width: 70%;
    }

    .bottom-mid {
        margin-top: 0px;
    }

    /* -------------------sixthSection-END------------------ */

    /* -------------------MAIN-END------------------ */

    .footerTop {
        flex-direction: column;
        width: auto;
    }

    #footerTop2 {
        width: 76%;
        margin: auto;
        margin-top: 30px;
    }

    .footerBottom {
        flex-direction: column;
        width: auto;
    }

    #media {
        margin: 20px 0px;
    }
}

/* -------------------MEDIA QUERIES SMALL SCREEN START------------------ */

@media screen and (max-width: 720px) {

    #nav-bar {
        width: auto;
    }

    #nav-top>img {
        width: 3%;
    }

    #nav-top {
        font-size: 12px;
    }

    .nav-bottom {
        width: auto;
        padding-left: 20px;
    }

    .align {
        flex-direction: column;
    }

    #linkEmail {
        margin-top: 20px;
    }

    .thirdSection {
        text-align: center;
    }

    .thirdSection>div:nth-child(1) {
        /* width: 80%; */
        font-size: 24px;
    }

    .thirdSection>div>p:nth-child(2),
    .bottomP {
        width: 80%;
        margin-top: 120px;
        font-size: 16px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 120px;
        position: relative;
        top: 120px;
        z-index: 1;
    }

    .thirdSection>h3 {
        position: relative;
        top: 50px;
        z-index: 1;
    }


    .fifthSection>h1 {
        font-size: 36px;
    }


    .firstSection {
        background: #181f38;
        height: auto;
        text-align: center;
    }

    .firstSection>div {
        flex-direction: column;
    }

    .firstSection h1 {
        font-size: 44px;
        width: auto;
    }

    .firstSection p {
        font-size: 20px;
        width: auto;
    }

    .sixthSection {
        text-align: center;
    }

    .sixthSection img {
        width: 50%;
    }

    .bottomP {
        margin: auto;
        margin-bottom: 20px;
    }

    .bottomH1 {
        font-size: 36px;
        margin: auto;
        margin-bottom: 20px;
    }

    .footerTop {
        font-size: 14px;
    }

    .footerBottom {
        font-size: 14px;
    }

}

/* -------------------firstSection-END------------------ */